blanco = #FFF
body
	margin 0 
	padding 0
	background #333030
	input.cl_txt
		padding 0.5em
		border-radius 4px
	input.cl_btn
		padding 0.4em
		border-radius 4px
		background #40753C
		color blanco
		border-style none
	input.cl_btn:hover
		background #418B3C
	select.cl_cmb
		padding 0.5em
		border-radius 4px
	.cl_cjinicio
		width 1000px
		height 500px		
		margin 0 auto
		margin-top 5em
		.cl_cjcajas
			width 400px
			height 400px
			background #FA710F
			display inline-block 
			float left
			margin 50px
		.cl_cjbaners
			width 400px
			height 400px
			.cl_cjbaner
				width 380px
				height 85px
				margin 10px
				Line-Height 90px
				font-size 50px
				text-align center
				border solid 1px blanco
				border-radius 5px
				color blanco
		.cl_cjlogin
			width 400px
			height 400px
			form
				table
					margin 0 auto
					tr
						td
							padding 0.4em
							h4
								width 100%
								text-align center
			
			
			
		